---
title: Untitled 
header: Untitled
date: git Last Modified
layout: "base.njk"
---
    <div class="center">
    <link rel="stylesheet" href="/blog.css">
    <h1>{{ title }} </h1>
    <span style="color: pink;">{{ page.date | PostDate}} <br> </span>
    <span> Author:</span> <a href="https://github.com/izzyn">IzzyN</a><br>
    <a href="/">back</a>
    </span>
    <hr>
    <div class="blog-content">
    {{ content | safe }}
    </div>
    </div>
