---
title: Untitled 
header: Untitled
date: Last Modified
layout: "base.njk"
---
    <div class="center">
    <link rel="stylesheet" href="/blog.css">
    <h1>{{ title }} </h1>
    <span>{{ page.date | PostDate}} <br>
    <a href="/">back</a>
    </span>
    <hr>
    <div class="blog-content">
    {{ content | safe }}
    </div>
    </div>
