html, body {
    font-family: 'Fira Code';
    background-color: #2a2028;    
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    position: relative;
    display: inline-block;
}


.center {
  margin: auto;
  max-width: 50%;
  padding: 10px; 

}

.main-header{
    margin: auto;
    margin-top: 10%;
    max-width: 30%;
    min-width: 40em;
    padding: 20px;
}

@media handheld, only screen and (max-width: 1440px) 
{
    .center {
        margin: auto;
        max-width: 90%;
        padding: 10px; 
      
    }
    .main-header{
        margin: auto;
        margin-top: 10%;
        max-width: 50%;
        padding: 20px;
        display: contents;
    }
}

a, .btn-link {
    color: #e430e1;
}
a:hover{
    color: rgb(228, 138, 213);
}
p, li{
    color: white;
}
span{
    color:white;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.home-links{
    display: grid;
    gap: 1px;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}

blockquote {
    margin-left: 13px;
    padding-left: 8px;
    border-left: 4px solid #EE82EE;
    border-spacing: 5px;
    font-size: 20px;
}

.blog-card{
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px; 
    border-color: #EE82EE;
}

.break{
    size: 1rem;
    margin: 0rem;
}
.test {
  height: 160px;
  width: 170px;
  -webkit-clip-path: url(#shape);
  clip-path: url(#shape);
}

.gradient-container{
    display: grid;
}
.button-text{
    text-align: center;
    color: #e430e1;
}
.button-text:hover{
    color: violet;
    text-decoration: underline;
}
.card-header-text{
    position: relative;
    color: violet;
    font-weight: bold;
}

.fit-image-animated{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 0.0s; 
}

.image-animated{
    object-fit: scale-down;
    transition: transform 0.0s; 
}

.fit-image-animated:hover, .image-animated:hover{
    transform: rotate(360deg);  
    transition: transform 1s ease;          
}


@keyframes rotate360 {
    to { transform: rotate(360deg); }           
}
.gradient-text{
  background-image: linear-gradient(to right, violet, pink);
  background-clip: text;
  color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 

hr{
    border-top: 5px solid violet;
    border-radius: 5px;
}
.blog-separator{
    border-top: 1px solid violet;
    border-radius: 5px;
}
.filter-pink{
    filter: invert(88%) sepia(53%) saturate(2634%) hue-rotate(277deg) brightness(98%) contrast(96%);
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1 {
  color: #EE82EE;
}
h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}
.card-background{
    height: 10%;
}
.card-container{
    position: relative;
}
