---
title: Descent Into Bullet Hell
description: This was my first major project, a relatively performant bullethell engine dressed up as a videogame. It was built with unity and C# and uses object pooling, together with a large configurable attack system to create different attacks at different threshholds. This project was really fun, as I learnt how to scale a project into bigger requirements as the bullethell engine grew in needs and size over time, things such as bullets which split into other bullets and lazers were difficult challanges which were tackled in this project.
image: /img/bullethell.gif
github: https://github.com/izzyn/Descent-into-bullet-hell
---
