---
title: Cat & Mouse Racing Game
description: This game was made as part of a gamejam, with a team of 5 people (three programmers, two artists). I worked on the multiplayer functionality, which was finished within the 3 day deadline. It was developed using the godot engine, using the godot high level multiplayer for the networking logic. It was very useful and easy to use, since it allowed us to create a game where you can create and join rooms using a centralized server in only 3 days.
image: /img/catgame.gif
github: https://github.com/izzyn/PURacingIEGJ2024 
---
