---
title: IzzyEngine
description: My OpenGL renderer written purely in C. I use glew, glfw to render windows and interact with openGL, I also use SConstruct as my build system, which is very convenient. I learned a lot about graphics pipelines, shaders and low level coding in this project. Insanely fun to code, not as fun to debug the segfaults.
image: /img/engine.gif
github: https://github.com/izzyn/IzzyEngine
---
