---
title: Multiplayer Hacking Game
description: My first experience with writing custom networking logic, it's a simple hacking game with a centralized server where you can create and join rooms and try to defeat other players. It's built with C# and TCPStreams, all the networking logic are simple custom written protocols for sending buffers of integers using TCP. In this project I learnt how fun it is to work with networking, which started my long standing interest on writing networking logic for videogames.
image: /img/hacker.gif
github: https://github.com/izzyn/Multiplayer-Hackgame
---
