---
title: "Space Invaders But Better"
description: My take on space invaders, a game with multiple difficulties and items of different rarities which give unique buffs. Also featuring enemies with different bullet patterns and sizes. I built this with unity as a part of a school project where we were developing our own version of old games.
image: /img/Spaceinvaders.gif
github: https://github.com/izzyn/space-invaders-but-better
---
